@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  height:8px;
	width: 8px;
}

::-webkit-scrollbar-track {
  background: #51c4f5;
}

::-webkit-scrollbar-thumb {
  background: #306fc2;
}

::-webkit-scrollbar-thumb:hover {
	background: #0d5c94;
}

::-webkit-scrollbar-thumb:focus {
	background: #0d5c94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}